@mixin mediaBg() {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	    @content;
    }
}

@mixin tablet () {
    @media (max-width: 1220px) {
		@content;
	}
}

@mixin mobile () {
    @media (max-width: 820px) {
		@content;
	}
}
// Adaptiv-value
@mixin adaptiv-value($property, $startSize, $minSize, $type: 1) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidthContainer - $minWidth}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
  }
}

//Mixin for size
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  $adaptmax: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - #{$minWidth + px}) / #{$maxWidthContainer}));
  $adaptmin: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidthContainer}));
  
  @media (max-width: 767px) {
    font-size: clamp(#{$mobSize + px}, $adaptmax, #{$pcSize + px});
  }
  @media (min-width: 767px) {
    font-size: clamp(#{$mobSize + px}, $adaptmin, #{$pcSize + px});
  }
}
