.content {
  padding: 0 rem(15);
	width: rem(290);
	border-right: 1px solid var(--main-color);
}
.profile, .work-experience, .education {
	border-left: 1px solid #000;
	padding-left: rem(20);
	position: relative;
	&::before {
		content: "";
		
		position: absolute;
		left: rem(-7);
		top: 0px;
		width: rem(14);
		height: rem(14);
		
		background-repeat: no-repeat;
		background-size: contain;
		background-color: #fff;
		
	}
}
.profile {
	&::before {
		background-image: url('../../img/free-icon-profile-9344418.png');
	}
	&__title {
		margin-top: rem(2);
		padding-bottom: rem(2);
	}
}
.data {
	font-style: italic;
}

.work-experience {
	&::before {
		background-image: url('../../img/free-icon-briefcase-6876037.png');
	}
		&__data {
			margin-bottom: rem(3);
		}

		&__item {
			list-style-type: disc;
      padding-top: rem(4);
      margin-left: rem(10);
		}

		&__title-3 {
			font-size: rem(8);
			font-weight: bold;
			padding-top: rem(5);
			padding-bottom: rem(2);
		}

		&__progect-item {
			list-style-type: disc;
      padding-top: rem(3);
      margin-left: rem(10);
		}

		&__progect-link {
			font-size: rem(7);
  		font-weight: 600;
		}
}

.education {
	margin-bottom: rem(10);
	&::before {
		background-image: url('../../img/free-icon-graduation-cap-5096169.png');
	}

		&__data {
			margin-top: rem(3);
		}
}
