.sidebar {

  background-color: var(--sidebar-color);
  padding-top: rem(45);
  padding-left: rem(15);
  padding-right: rem(15);
//   width: rem(585);
  border-left: 1px solid var(--main-color);
}

.contact {

		&__item {
      padding: rem(6) 0;
      display: flex;
      align-items: center;
      column-gap: rem(5);
		}

		&__item-img {
      width: rem(10);
      height: rem(10);
		}
}

.skills {

		&__item {
      list-style-type: disc;
      padding-top: rem(6);
      margin-left: rem(10);
		}
}
.languages {

  padding-bottom: rem(20);
		&__list {
      padding-top: rem(6);
		}

		&__item {
      list-style-type: disc;
      padding-top: rem(3);
      margin-left: rem(10);
		}
}
