.title {
  font-size: rem(16);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.title-2 {
  font-size: rem(8);
  text-transform: uppercase;
  font-weight: bold;
  margin-top: rem(20);
  padding-bottom: rem(5);
  border-bottom: 1px solid #000;
}
.title-3 {
  font-size: rem(8);
  font-weight: bold;
  padding: rem(5) 0;
}
.title-4 {
  font-size: rem(7);
  font-weight: bold;
  padding-top: rem(2);
}